@model List<Vehicle>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["title"] = "All vehicles";
}

<h1>All vehicles:</h1>
<a asp-controller="Vehicle" asp-action="Add">Add Vehicle</a>
@if(Model != null && Model.Count()>0)
{
	<table>
		<thead>
			<tr>
				<th>Manufacturer</th>
				<th>Model</th>
				<th>Year</th>
				<th>Availability</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var vehicle in Model)
			{
				<tr>
					<td>@vehicle.VehicleManufacturer</td>
					<td>@vehicle.VehicleModel</td>
					<td>@vehicle.VehicleYear</td>
					<td>@vehicle.VehicleAvailability</td>
					<td>@vehicle.VehicleStatus</td>
					<td><a asp-controller="Vehicle" asp-action="Details" asp-route-id="@vehicle.VehicleID">Details</a></td>
					<td><a asp-controller ="Vehicle" asp-action="Edit" asp-route-id="@vehicle.VehicleID">Edit</a></td>
					<td><a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@vehicle.VehicleID">Delete</a></td>
				</tr>
			}

		</tbody>
	</table>
}
