@model IEnumerable<_3M1LVehicleRentalsMs.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleManufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleAvailability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleManufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleAvailability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleStatus)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.VehicleID" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VehicleID" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VehicleID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
