@model IEnumerable<_3M1LVehicleRentalsMs.Models.Admin>

@{
    ViewData["Title"] = "Administrator";
    Layout = "Admin";
}

<h1>Administrators</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdminName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminPhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminPhoneNumber)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AdminID" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AdminID" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AdminID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
