@model IEnumerable<_3M1LVehicleRentalsMs.Models.Reservation>

@{
    ViewData["Title"] = "Reservation";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationCost)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservationId" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReservationId" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservationId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
