@model _3M1L_vehicle_rental_ms.Models.Customer

<h1>Delete Customer</h1>
<p>Are you sure you want to delete this customer?</p>
<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <p>Email: @Model.Email</p>
    <p>Phone: @Model.PhoneNumber</p>
    <p>Address: @Model.Address</p>
</div>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>