@model IEnumerable<_3M1LVehicleRentalsMs.Models.Customer>

@{
    ViewData["Title"] = "Customer";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerID" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerID" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
