@model IEnumerable<_3M1LVehicleRentalsMs.Models.Reports>

@{
    ViewData["Title"] = "Report";
}

<h1>Reports</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.AdminEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.ReservationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleManufacturer)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ReportId" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReportId" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReportId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
