@using _3M1L_vehicle_rental_ms.Models
@model _3M1L_vehicle_rental_ms.Models.HomeViewModel

@{
    ViewData["Title"] = "Report";
}

<h1>Reports</h1>

<div class="spaces">
    <h2>Customers</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.FirstName @customer.LastName</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="spaces">
    <h2>Vehicles</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Year</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model.Vehicles)
            {
                <tr>
                    <td>@vehicle.VehicleManufacturer</td>
                    <td>@vehicle.VehicleModel</td>
                    <td>@vehicle.VehicleYear</td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="spaces">
    <h2>Reservations</h2>
    <table class="table">
        <thead>
			<tr>
				<th>Date</th>
                <th>Customer</th>
                <th>Vehicle</th>         
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model.Reservations)
            {
				<tr>
					<td>@reservation.ReservationDate.ToShortDateString()</td>
                    <td>@reservation.CustomerInfo.FirstName @reservation.CustomerInfo.LastName</td>
                    <td>@reservation.VehicleInfo.VehicleModel</td>                       
                </tr>
            }
        </tbody>
    </table>
</div>